  .one {
      /* background-color: #f0f4fb; */
      padding: 20px;
      border-radius: 10px;
  }

  .one-container {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }

  /* one-item */
  .one-item:not(.one-item__theme) {
      padding: 12px 18px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #f0f4fb;
      color: #666;
  }

  .one-item__theme {
    padding: 12px 18px;
    background-color: #fff;
  }
 
  .one-title {
    margin-bottom: 10px;
  }

  /* one-title */
  .one-item > .one-title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
  }

  /* one-content */
  .one-content p {
      font-size: 16px;
      color: #333; /* 主题描述颜色 */
  }

  /* one-item children */
  .one-item__children {
      list-style: none;
      margin-top: 10px;
  }

  .one-item__child > .one-title {
      font-size: 18px;
      border-radius: 10px;
      color: #333;
      font-weight: bold;
  }

  .one-item__theme .one-title p,
  .one-item__theme .one-content p {
      color: #1a73e8; 
  }

/* 
  .one-item__child .one-title p,
  .one-item__child .one-content p {
      color: #ff9800;
  }

  .one-item:last-child .one-title p,
  .one-item:last-child .one-content p {
      color: #4caf50;
  } */