@import url('./wechat-post-theme.css');
@import url('./red-post-theme.css');
@import url('./apple-style-theme.css');

.one-item__content {
  /* :where(:first-child) { */
  /*   margin-top: 0 !important; */
  /* } */
  /**/
  /* :where(:last-child) { */
  /*   margin-bottom: 0 !important; */
  /* } */

  :where(ul):not(:where([class~=one-item__children])) {
    list-style-type: disc;
    padding-left: 1.625rem;
  }

  :where(p) {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.7;
  }

  :where(ul>li, ol>li):not(:where([class~=one-child-item])) {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }

  :where(ol):not(:where([class~=one-item__children])) {
    list-style-type: decimal;
    padding-left: 1.625rem;
  }

  :where(ul ul, ol ul, ol ol, ul ol):not(:where([class~=one-item__children])) {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }

  :where(img) {
    display: block;
    margin-top: .75rem;
    margin-bottom: .75rem;
  }

  :where(blockquote) {
    border-left: 3px solid var(--gray-2);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  :where(hr) {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

  /* Code and preformatted text styles */
  :where(code) {
    background-color: var(--gray-2);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  :where(pre) {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

  }
}
