@import url('./wechat-post-theme.css');
@import url('./red-post-theme.css');
@import url('./apple-style-theme.css');

.one-item__content {
  /* :where(:first-child) { */
  /*   margin-top: 0 !important; */
  /* } */
  /**/
  /* :where(:last-child) { */
  /*   margin-bottom: 0 !important; */
  /* } */

  :where(ul):not(:where([class~=one-item__children])) {
    list-style-type: disc;
    padding-left: 1.625rem;
  }

  :where(p) {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.7;
  }

  :where(ul>li, ol>li):not(:where([class~=one-child-item])) {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }

  :where(ol):not(:where([class~=one-item__children])) {
    list-style-type: decimal;
    padding-left: 1.625rem;
  }

  :where(ul ul, ol ul, ol ol, ul ol):not(:where([class~=one-item__children])) {
    margin-top: .75rem;
    margin-bottom: .75rem;
  }
}

