.red-post {
  background-color: var(--template-theme-background);
  
  --template-theme-heading1-font-size: 36px;
  --template-theme-heading1-desc-font-size: 14px;
  --template-theme-heading2-font-size: 18px;
  --template-theme-heading2-padding-y: 10px;
  --template-theme-heading2-padding-x: 19px;
  --template-theme-heading2-line-height: 1.2;
  --template-theme-primary-content-font-size: 14px;
  --template-theme-heading3-font-size: 16px;
  --template-theme-heading3-padding-y: 8px;
  --template-theme-heading3-padding-x: 20px;
  --template-theme-heading3-line-height: 1.2;

  &.tech_blue {
    --template-theme-background: #ccedff;
    --template-theme-heading1-foreground: #333;
    --template-theme-heading1-desc-foreground: #333;
    --template-theme-heading2-foreground: #333;
    --template-theme-heading2-background: linear-gradient(90deg, #3CA0FF 0%, #1D6DFF 100%);
    --template-theme-heading2-after-foreground: rgb(255 255 255 / 0.2);
    --template-theme-primary-content-foreground: #333;
    --template-theme-primary-content-background: rgb(255 255 255 / 0.7);
    --template-theme-heading3-background: linear-gradient(90deg, #3CA0FF 0%, #1D6DFF 100%);
    --template-theme-heading3-foreground: #333;
    --template-theme-background-image: url('/images/them-bg-tech-blue.png')
  }

  &.vibrant_orange {
    --template-theme-background: #fff6ef;
    --template-theme-heading1-foreground: #333;
    --template-theme-heading1-desc-foreground: #333;
    --template-theme-heading2-foreground: #333;
    --template-theme-heading2-background: linear-gradient(90deg, #FF611D 0%, #FF8E3C 100%);
    --template-theme-heading2-after-foreground: rgb(255 255 255 / 0.2);
    --template-theme-primary-content-foreground: #333;
    --template-theme-primary-content-background: rgb(255 255 255 / 0.7);
    --template-theme-heading3-background: linear-gradient(90deg, #FF611D 0%, #FF8E3C 100%);
    --template-theme-heading3-foreground: #333;
    --template-theme-background-image: url('/images/them-bg-vibrant-orange.png')
  }

  &.rose_red {
    --template-theme-background: #f4f4f4;
    --template-theme-heading1-foreground: #333;
    --template-theme-heading1-desc-foreground: #333;
    --template-theme-heading2-foreground: #333;
    --template-theme-heading2-background: linear-gradient(90deg, #F14040 0%, #FF7676 100%);
    --template-theme-heading2-after-foreground: rgb(255 255 255 / 0.2);
    --template-theme-primary-content-foreground: #333;
    --template-theme-primary-content-background: rgb(255 255 255 / 0.7);
    --template-theme-heading3-background: linear-gradient(90deg, #F14040 0%, #FF7676 100%);
    --template-theme-heading3-foreground: #333;
    --template-theme-background-image: url('/images/them-bg-rose-red.png')
  }

  /* common */
  .one-theme {
    display: flex;
    flex-direction: column;
    padding: 12px 13px;
    background-color: var(--template-theme-background);
    height: 553px;
    overflow: hidden;
    outline: 0.1px solid gray;
  }

  .one-theme__title {
    font-weight: bold;
    font-size: var(--template-theme-heading1-font-size);
    color: var(--template-theme-heading1-foreground);
  }

  .one-theme__content {
    font-size: var(--template-theme-heading1-desc-font-size);
    color: var(--template-theme-heading1-desc-foreground);
  }

  .one-theme__image {

    img {
      width: auto;
      height: 100%;
    }
  }

  .one-item {
    height: 553px;
    background-color: var(--template-theme-background);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    overflow: hidden;
    outline: 0.1px solid gray;
  }

  .one-item__title {
    position: relative;
    margin-bottom: 13px;
    /* padding: var(--template-theme-heading2-padding-y) var(--template-theme-heading2-padding-x); */
    font-size: var(--template-theme-heading2-font-size);
    font-weight: bold;
    line-height: var(--template-theme-heading2-line-height);
    color: var(--template-theme-heading2-foreground);
    /* background: var(--template-theme-heading2-background); */
  }

  .one-item__content {
    position: relative;
    border-radius: 12px;
    font-size: var(--template-theme-primary-content-font-size);
    color: var(--template-theme-primary-content-foreground);
    text-align: justify;
  }

  .one-item__images {
    margin-bottom: 10px;
  }

  .one-item__children {
    margin-bottom: 10px;
  }

  .one-child-item {
    margin-top: 20px;
    margin-bottom: 20px;

    :where(:first-child) {
      margin-top: 0;
    }

    :where(:last-child) {
      margin-bottom: 0;
    }
  }

  .one-child-item__title {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 10px !important;
    line-height: var(--template-theme-heading3-line-height);
    font-weight: bold;
    font-size: var(--template-theme-heading3-font-size);
    color: var(--template-theme-heading3-foreground);

    p {
      line-height: inherit;
    }
  }
}

.wechat-post-1 {
  .one-theme__bg {
    background-image: var(--template-theme-background-image);
  }

  .one-item__title {
    border-radius: 10px;

    &::after {
      content: 'NO.' attr(data-index);
      position: absolute;
      right: 19px;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      margin-left: 5px;
      color: var(--template-theme-heading2-after-foreground);
    }

    p {
      margin-right: 45px;
    }
  }
}

.wechat-post-2 {
  .one-item__title {
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 9999px 9999px 9999px 2px;
  }
}
