name: Release

run-name: Release ${{ github.ref_name }}

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  release:
    if: github.repository == 'byodian/oneimg'
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
